/* =============
    Plans
============= */
#plans{

    #plans-top{
        text-align: center;
        h1{
            margin-bottom: 30px;
            font-size: rem-calc(44);
            font-weight: 600;
        }

        p{
            font-size: rem-calc(22);
        }
    }

    

    ul{
        margin-top: 30px;
    }

    .plan-card{
        //----------------
        // this is only for week 4 & 5 so we can see the cards
        display: inline-block;
        // ---------------

        border-radius: 10px;
        background-color: var(--white);
        box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
        padding: 50px;
        text-align: center;
        h2{
            font-size: rem-calc(22);
            font-weight: 400;
        }

        h1{
            font-size: rem-calc(32);
            font-weight: 500;
            span{
                font-size: rem-calc(44);
                font-weight: 600;
            }
        }

        ul{
            li{
                margin-bottom: 16px;
            }
        }

        button{
            margin-top: 50px;
        }
    }

    #selected-card{
        background-color: var(--purple);
        padding: 1px;
        border-radius: 10px;
        >div{
            border-radius: 10px;
            background-color: var(--white);

            #selected-top{
                color: var(--white);
                // background-color: var(--purple);
                background-image: url("../img/selected-bg.svg");
                background-size: cover;
                // padding: 50px 50px 0 50px;
                // border-radius: 10px; 
                height: 100px;
                border: 1px solid red;
                
            }

            #selected-bottom{
                padding: 0px 50px 50px 50px;
            }
        }
    }
}